@model Product
@{
    ViewData["Title"] = "Add Resource";
}

<h2>Add Resource</h2>

<form asp-action="AddResource" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" placeholder="Price">
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description">
    </div>
    <div class="form-group">
        <label asp-for="DescriptionTR">Description Turish</label>
        <input asp-for="DescriptionTR" class="form-control" placeholder="DescriptionTR">
    </div>
    <div class="form-group">
        <label asp-for="DescriptionFR">Description Fransiz</label>
        <input asp-for="DescriptionFR" class="form-control" placeholder="DescriptionFR">
    </div>
    <button type="submit" class="btn btn-primary">Add Resource</button>
</form>

<a asp-action="ListResources">Back to List</a>
